canvas {
  width: 100% !important;
  height: 400px !important;
    background-color: #1a1a1a; /* Canvas background */
}
:host .chart-container {
  background-color: #1a1a1a; /* Dark background */
  padding: 20px;
  width: 100%;
}
