.home-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
  }
  
  .chart-box, .summary-box {
    width: 40%;
    height: 90%;
    background-color: #222; /* optional */
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    color: white;
  }

  .chart-box{
    width: 70%;
  }

  .summary-box{
    width: 20%;
  }
  
  @media (max-width: 768px) {
    .home-main {
      flex-direction: column;
    }
  
    .chart-box, .summary-box {
      width: 90%;
    }
  }
  